.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.products-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 32%;
  margin: 0.5rem;
}

.product-image {
  width: 100%;
}

.product-image img {
  width: 100%;
  height: 350px;
}

.card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form select,
form input {
  width: 25%;
  text-align: center;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.3rem;
}

form button {
  width: 10%;
  margin-top: 0.5rem;
}
